*{
    padding: 0;
    margin: 0;

}   

body{
     background-color: #0e5587;
    background-size: cover;
}


h1{
    color: aliceblue;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 4px;
    margin-top: 25px;
}

h2{
    color: #fff;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 3px;
    padding-top: 20px;
}


.main{
    padding-top: 180px;
    display: flex;
    justify-content: space-around;
}

.robo{
    color: #fff;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
    transform: translate(250px,-10px);
}

#robo_img{
    height: 180px;
    transform: translate(270px,-15px);
    
}

.user{
    color: #fff;
    transform: translate(120px,-10px);

}

#user_img{
    height: 230px;
    transform: translate(28px,0px);

}

#msg{
    height: auto;
    color: #fff;
    transform: translate(-160px,250px);
    position: absolute;
}

#number_input{
    border: none;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-170px,20px);
}

#submit{
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 45px;
    text-align: center;
    text-transform: none;
    transform: translate(-283px,55px);
    
}

@media screen and (max-width:480px){
    body{
        background-color: #0e5587;
    }
    h1{
        font-size: 25px;
        width: 500px;
        transform: translate(-5px,-15px);
    }
    h2{
        text-align: center;
        padding-left: 25px;
        transform: translate(0px,-15px);
        font-size: 25px;
        width: 400px;
    }
    .robo{
        font-size: 30px;
        text-transform: uppercase;
        text-decoration: underline;
        transform: translate(160px,-180px);
    }

    #robo_img{
        height: 150px;
        transform: translate(170px,-210px);
    }

    #msg{
        font-size: 20px;
        transform: translate(40px,20px);
    }

    .user{
        font-size: 30px;
        text-transform: uppercase;
        text-decoration: underline;
        transform: translate(30px,70px);

    }

    #user_img{
        height: 180px;
        transform: translate(-20px,65px);

    }

    #number_input{
        transform: translate(5px,60px);

    }

    #submit{
        height: 25px;
        width: 50px;
        transform: translate(-55px,100px);
    }
    .underline{
        background-color: rgb(255, 255, 255);
        width: 310px;
        height: 0.5px;
        transform: translate(80px,-6px);
    }

}
